<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ChargifyURL" value="https://city-hosted-solutions.chargify.com"/>
    <add key="ChargifyAPIKey" value="FSZRVOfAHTHqHBZS5raU"/>
    <add key="ChargifyPassword" value="Citycomm1!"/>
    <!--<add key="ChargifySharedKey" value="6vTTB0e9WKts8yL7LEiG"/>-->
    <add key="ChargifySharedKey" value="Tr9fdHNvMpYVCE5YRCV"/>
    <add key="ChargifySetupComponent" value="7337975"/>
    <add key="SaddlebackFTPUri" value="ftp://50.63.197.12"/>
    <add key="SaddlebackFTPUsername" value="Cityhosted1"/>
    <add key="SaddlebackFTPPassword" value="Wnip321!"/>
    <!--<add key="AutoLoginPW" value="Citycomm1!"/>-->
    <!--<add key="AutoLoginScreen" value="frmCityHostedUSOCMaintenanceNew"/>-->
    <!--<add key="AutoLoginScreen" value="frmPDFtoText"/>-->
  </appSettings>
    <!--<configSections>
    </configSections>-->
    <connectionStrings>
        <add name="CCI.DesktopClient.Properties.Settings.CommissionsConnectionString" connectionString="Data Source=CTCMSQL01;Initial Catalog=CityHostedProd;Persist Security Info=True;User ID=CityHostedRemote;Password=CH2022Bell$" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1"/></startup></configuration>
