//184.183.10.116,33890;Commisions_abw;user(CCIRemote,Password2!)
//108.161.128.5;Commisions_abw;user(sa,FirstCallSQL01)
216.224.228.227,3083;Commisions;user(laxon,Wolf359$)
//216.224.228.228,3083;Commisions;user(dbadmin09,sharad2009)
//184.183.10.116;Commisions_New;user(dbadmin09,sharad2009)
//mail.citycommunications.net;Commisions;user(dbadmin09,sharad2009)
//184.183.10.116,1433;Commisions_abw;user(CCIRemoteUser,CCIremote2012)
//mail.citycommunications.net;Commisions;user(dbadmin09,sharad2009)
//mail.citycommunications.net;Commisions_abw;user(dbadmin09,sharad2009)
//192.168.4.10,1433;Commisions_abw;user(dbadmin09,sharad2009)
//184.183.10.116,1433;Commisions_abw;user(CCIRemoteUser,CCIremote2012)
//mail.citycommunications.net;CommisionsLLA;user(dbadmin09,sharad2009)
//192.168.4.10,1433;Commisions_abw;user(dbadmin09,sharad2009)
//98.172.84.83;Commisions_new;user(dbadmin09,sharad2009)
//98.172.84.83;Commisions;user(dbadmin09,sharad2009)
//98.172.84.83;Commisions;user(dbadmin09,sharad2009)
//98.172.84.83,3377
